<h1> Admins</h1>

<%= link_to "All Admins", :action => "index" %>
|
<%= link_to "Admins awaiting approval", :action => "index", :approved => "false" %>

<table>
    <% @admins.each do |admin| %>
        <tr>
            <td><% admin.email -%></td>
            <td><% admin.approved -%></td>
          
	</tr>
<% end %>

</table>

 
